@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap");

#drum-machine {
  background-color: lightpink;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #2fa7c9 50%,
    #5468ff 100%
  );
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 0 15px 15px 15px;
  user-select: none;
}

.drum-pad {
  height: 20vh;
  width: 20vh;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
  line-height: 13vh;
  background-color: lightslategrey;
  cursor: pointer;
  font-size: calc(2vh + 5px);
}

#display1 {
  display: grid;
  /* background-color: lightgreen; */
  /* background-image: radial-gradient(
    100% 100% at 100% 0,
    #2fa7c9 50%,
    #5468ff 100%
  ); */
  margin: auto;
  width: max-content;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

#board {
  display: flex;
  flex-direction: row;
}

#commands {
  background-color: rgba(62, 101, 179, 0.4);
  margin-left: 10px;
  width: 10vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  margin-bottom: 8px;
  font-size: calc(2vh + 10px);
}

h3 {
  font-size: calc(2vh + 10px);
}

h1 {
  font-size: calc(5vh + 20px);
  padding-top: 20px;
  margin-bottom: 15px;
  font-family: "Lobster", cursive;
}

.myclass {
  background-color: red;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 13vh;
  font-size: calc(2vh + 5px);
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.button-36:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-36:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-36:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
