#drum-machine {
  background-color: lightpink;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 0 10px 10px 10px;
  user-select: none;
}

.drum-pad {
  height: 20vh;
  width: 20vh;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
  line-height: 13vh;
  background-color: lightslategrey;
  cursor: pointer;
  font-size: calc(2vh + 5px);
}

#display1 {
  display: grid;
  background-color: lightgreen;
  padding: 10px;
  margin: auto;
  width: max-content;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

#board {
  display: flex;
  flex-direction: row;
}

#commands {
  background-color: lightsteelblue;
  margin-left: 10px;
  width: 10vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  margin-bottom: 8px;
  font-size: calc(2vh + 10px);
}

h3 {
  font-size: calc(2vh + 10px);
}

h1 {
  font-size: calc(4vh + 10px);
  padding-top: 15px;
}

.myclass {
  background-color: red;
}
