#drum-machine {
  background-color: lightpink;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 0 10px 10px 10px;
  user-select: none;
}

.drum-pad {
  height: 20vh;
  width: 20vh;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
  line-height: 13vh;
  background-color: lightslategrey;
  cursor: pointer;
}

#display {
  display: grid;
  background-color: lightgreen;
  padding: 10px;
  margin: auto;
  width: max-content;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
